*{
    margin:0%;
}

/* CSS For Parent Container */

.Container{
    width:100%;
    height:100vh;
    background: url('Images/Background.png');
    background-repeat: no-repeat;
    background-size:cover;
    
}

/* CSS For Form Container */

.FormContainer{
    width: 30%;
    height:35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(211, 208, 208, 0);  
    border-radius: 8px;
    backdrop-filter: blur(4px);
    position: absolute;
    padding:20px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 1px 2px 3px rgba(185, 185, 197, 0.132);
}

/* CSS For Form */

.SigninForm{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    
}

/* CSS For Input Fields */

.Input{
    width:200px;
    height:30px;
    margin-bottom: 10px;
    border-radius:5px;
    border: 2px solid rgb(41, 24, 24);
    transition: 0.5s;
    font-family: 'Poppins', sans-serif;
    
}

.Input:hover{
    border: 2px solid rgb(94, 141, 180);
    transform: scale(1.05);
}

/* CSS For Submit Button */

.Btn{
    width: 80px;
    height: 25px;
    margin: auto;
    border-radius: 5px;
    border: 0px;
    transition: 0.5s;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.Btn:hover{
    background-color: transparent;
    border: 2px solid rgb(14, 91, 154);
    transform: scale(1.05);
    color: aliceblue;
}

/* Mobile Responsivenes */

@media (max-width: 600px), screen and (orientation: portrait) {
    .Container{
        width:100%;
        height:100vh;
        background: url('Images/MobileBackground.png');
        background-repeat: no-repeat;
        background-size:cover;
    }
    

    .FormContainer{
        width: 60%;
        height:40%;
        padding:0px;
    }

    .Btn{
        width: 80px;
        height: 25px;
    }

    .Input{
        width:150px;
        height:30px;
    }
}
